:root {
  --primaryColor: #C80201;
  --fontColor: #0A0101;
  --bodyColor: #FCFDFF;
  --lightBg: #F0F5FF;
  --bodyBG: #F8FBFC;
  --colorBurn: #d30a0b;
}


/* karla-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/karla-v30-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* karla-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Karla';
  font-style: normal;
  font-weight: 500;
  src: url('/assets/fonts/karla-v30-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* karla-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Karla';
  font-style: normal;
  font-weight: 600;
  src: url('/assets/fonts/karla-v30-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* karla-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  src: url('/assets/fonts/karla-v30-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* karla-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Karla';
  font-style: normal;
  font-weight: 800;
  src: url('/assets/fonts/karla-v30-latin-800.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}


/*Mobile Menu*/

.line {
  fill: none;
  stroke: var(--primaryColor);
  stroke-width: 6;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}
.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}
.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}

header{
  transition: all 0.4s ease-in;
 }


 .header-top{
  position: absolute;
  z-index: 99;
  left: 0;
  right: 0;
  top: 0;
 }

.header-visible{
  position: sticky;
  top: 0;
  z-index: 99;
 }

 .header-visible{
  background:white;
 }

 .header-top.header-visible{
  background:var(--fontColor);
 }

/*Sliders*/

.flickity-page-dots .dot{
 background-color: var(--primaryColor);
 height: 6px;
 border-radius: 0;
}

.flickity-page-dots .dot.is-selected{
  opacity: 1;
  width: 25px;
  border-radius: 0px;
  transition: all 0.2s ease-in;
  transform-origin: center;
}

[data-slider-services] .flickity-page-dots{
  width: unset;
  top: 20px;
  right: 30px;
}

.custom-list li
{
  list-style-image: url(/assets/branding/bullet.svg);
  padding-inline-start: 1ch;
  list-style-position: inside;
}


.element-certificates{
  background-image: url(/assets/branding/element.svg);
  background-repeat: no-repeat;
  background-position: left bottom;
}